.main_header {
  /* width: 100vh; */
  /* display: grid; */
  place-items: center;
  margin-top: 160px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.main_header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.main_header_left h1 {
  color: var(--color-black);
  font-family: "Arimo", sans-serif;
  font-size: 69px;
  font-weight: 600;
  line-height: 82.8px;
  margin-bottom: 32px;
}
.main_header_left p {
  color: var(--color-black);
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  margin-bottom: 32px;
}
.main_header_bottom {
  margin-top: 120px;
}

.main_header_bottom span {
  color: var(--color-black);
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  margin-bottom: 20px;
}
.main_header_buttons {
  display: flex;
  gap: 32px;
}
/* howtodonate */
.howtodonate_container {
  background-color: var(--color-bg);
  color: var(--color-white);
  padding: 65px 112px;
}

.how_content h2 {
  color: var(--color-black);
  font-family: "Arimo", sans-serif;
  font-size: 69px;
  font-weight: 600;
  line-height: 82.8px;
  margin-bottom: 24px;
}

.howParagraph {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  color: var(--color-black);
  width: 762px;
}

.how_details {
  display: flex;
  gap: 70px;
  margin-top: 140px;
}

.how_details p {
  color: var(--color-black);
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400px;
  line-height: 27.6px;
  margin-top: 40px;
}
.how_text span {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 100px;
  padding: 8px 24px 8px 24px;
  font-family: "Arimo", sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  justify-content: center;
  align-items: center;
}

/* featured */
.featured_container {
  background-color: var(--color-light);
  color: var(--color-black);
  padding: 100px 112px;
}

.featured_content h2 {
  font-family: "Arimo", sans-serif;
  font-size: 69px;
  font-weight: 600;
  line-height: 82.8px;
  margin-bottom: 24px;
}

.featured_content .featuredParagraph {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  width: 762px;
}

.featured_header h3 {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52.8px;
  margin-top: 45px;
}

.featured_profile h4 {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  justify-content: center;
  align-items: center;
}
.featured_profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 16px;
}

.profile_images {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 52px;
  height: 52px;
  border-radius: 12rem;
  border: 2px solid #63bfad;
  background-color: var(--color-light);
}

.featured_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 20px;
}

.featured_left p {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  margin-bottom: 60px;
}

.featured_image {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 584px;
  height: 584px;
  border-radius: 24px;
}

/* Become a partner */
.become_container {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 100px 112px;
}

.become_content h2 {
  font-family: "Arimo", sans-serif;
  font-size: 69px;
  font-weight: 600;
  line-height: 82.8px;
  margin-bottom: 24px;
}

.becomeParagraph {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  width: 648px;
}

.become_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  gap: 30px;
}
.become {
  margin-top: 20px;
}

/* .become:hover{
    background-color: var(--color-primary);
} */

.become_image {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 584px;
  height: 450px;
  border-radius: 24px;
}

.become h3 {
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 52.8px;
  margin-top: 24px;
  padding: 0 20px;
}

.become p {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0 20px;
}

.become .btn {
  margin-left: 20px;
}

/* Inspired */
.inspired_container {
  background-color: var(--color-light);
  color: var(--color-black);
  padding: 100px 0 100px 112px;
}
.inspired_content h2 {
  font-family: "Arimo", sans-serif;
  font-size: 69px;
  font-weight: 600;
  line-height: 82.8px;
  margin-bottom: 24px;
}

.inspiredParagraph {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  width: 648px;
  margin-bottom: 60px;
}

.inspired_details {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.inspired {
  width: 379px;
  padding: 16px 24px;
}
.inspired_details-paragraph {
  font-family: "Arimo", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.8px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.inspired h4 {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  margin-bottom: 60px;
}

.inspired_Quote {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  padding: 8px;
  margin-bottom: 30px;
}
.inspired_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.inspired_profile img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 12rem;
  border: 2px solid #63bfad;
  background-color: var(--color-light);
}

.inspired_profile h5 {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.inspired_Slider {
  padding: 24px;
  border-radius: 24px;
  /* gap: 32px; */
  background-color: var(--color-white);
  width: 379px;
  height: 240px;
  box-shadow: 0 1rem 1.5rem #00000071;
  cursor: pointer;
  /* display: flex;
    flex-direction: row; */
}

.inspired_Slider:hover {
  box-shadow: none;
  background: transparent;
  border: 2px solid var(--color-bg);
  backdrop-filter: blur(5px);
}
.inspired2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.inspired-right {
  margin-top: 30px;
  width: 909px;
  /* height: 290px; */
}

.arrow {
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 16px;
  border-radius: 56px;
  width: 64px;
  height: 64px;
  box-shadow: 0 1rem 1.5rem #00000071;
  cursor: pointer;
}

.arrow_buttons {
  position: relative;
  font-size: 8px;
  display: flex;
  gap: 20px;
  z-index: 90;
}

.arrow:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  box-shadow: none;
}

.swiper {
  padding: 40px;
}

/* footer */

.HomeFooter_container {
  background-color: var(--color-footer);
  color: var(--color-white);
}
.HomeFooter_main {
  padding: 30px 112px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 80px;
}
.HomeFooter-right h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-size: 69px;
  line-height: 82.8px;
  cursor: pointer;
  color: var(--color-white);
}
.HomeFooter-left {
  display: flex;
  gap: 150px;
}
/* .HomeFooter_wrapper{
    display: flex;
} */
.HomeFooter_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.HomeFooter_items a {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 27.6px;
  color: var(--color-white);
}
.HomeFooter_wrapper h3 {
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 33.6px;
  margin-bottom: 24px;
}

.HomeFooter_copyright {
  padding: 30px 112px;
  border-top: 2px solid var(--color-white);
}
.HomeFooter_copyright h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 27.6px;
}
.featured_header .btn {
  display: none;
}
.featured_header .featured_left .btn {
  display: flex;
}

/*Media Query for tablet (medium devices)*/
@media screen and (max-width: 1024px) {
  .main_header {
    margin-top: 160px;
    margin-left: 70px;
    margin-bottom: 70px;
  }
  .main_header_container {
    display: flex;
    flex-direction: column;
  }
  .main_header_left {
    text-align: center;
  }
  .main_header_buttons {
    justify-content: center;
    align-items: center;
  }
  .main_header_bottom {
    margin-top: 20px;
    text-align: left;
  }
  .main_header_right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured_details {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .featured_header .featured_left .btn {
    display: none;
  }
  .featured_header .btn {
    display: flex;
  }
  .featured_left p {
    margin-bottom: 16px;
  }
  .featured_right {
    display: flex;
    justify-content: center;
  }
  .featured_image {
    aspect-ratio: unset;
    width: 100%;
  }
  .become_details {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
  }
  .become_content h2 {
    margin-bottom: 18px;
  }
  .inspired-right {
    max-width: 480px;
  }
  .HomeFooter_main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

/*Media Query for phone (small devices)*/
@media screen and (max-width: 768px) {
  .main_header {
    margin-top: 120px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }

  .main_header_left h1 {
    font-size: 44px;
    line-height: 52.8px;
    margin-bottom: 16px;
  }
  .main_header_left p {
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 16px;
  }

  .main_header_bottom span {
    font-size: 12px;
    line-height: 18.6px;
  }
  .main_header_buttons {
    display: flex;
    gap: 16px;
  }
  .main_header_buttons .btn {
    width: 171px;
  }
  .main_header_buttons .btn-primary {
    padding: 16px 16px;
  }

  /* howtodonate */
  .howtodonate_container {
    padding: 45px 20px;
  }

  .how_content h2 {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 16px;
  }

  .howParagraph {
    font-size: 14px;
    line-height: 16.8px;
    width: unset;
  }

  .how_details {
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
  }

  .how_details p {
    font-size: 20px;
    line-height: 27.6px;
    margin-top: 16px;
  }
  /* featured */
  .featured_container {
    padding: 45px 20px;
  }

  .featured_content h2 {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 16px;
  }

  .featured_content .featuredParagraph {
    font-size: 14px;
    line-height: 16.8px;
    width: unset;
  }

  .featured_header h3 {
    font-size: 23px;
    line-height: 27.6px;
    margin-top: 45px;
  }

  .featured_profile h4 {
    font-size: 14px;
    line-height: 16.8px;
  }
  .featured_profile {
    margin-top: 30px;
  }

  .profile_images {
    width: 42px;
    height: 42px;
  }
  .featured_left p {
    font-size: 14px;
    line-height: 16.8px;
  }
  .featured_image {
    height: 302px;
  }
  /* Become a partner */
  .become_container {
    padding: 45px 20px;
  }

  .become_content h2 {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 16px;
  }

  .becomeParagraph {
    font-size: 18px;
    line-height: 21.6px;
    width: unset;
  }

  .become {
    margin-top: 10px;
  }

  .become_image {
    width: 100%;
    height: 359px;
  }

  .become h3 {
    font-size: 28px;
    line-height: 33.6px;
    margin-top: 16px;
  }

  .become p {
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .become .btn {
    width: 171px;
    text-align: center;
  }

  /* Inspired */
  .inspired_container {
    padding: 45px 20px;
  }
  .inspired_content h2 {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 16px;
  }

  .inspiredParagraph {
    font-size: 18px;
    line-height: 21.6px;
    width: unset;
    margin-bottom: 50px;
  }

  .inspired_details {
    display: flex;
    flex-direction: column;
  }
  /* .inspired {
    width: 100%;
    padding: 16px 18px;
  } */
  .inspired_details-paragraph {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .inspired h4 {
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 10px;
  }

  .inspired_Quote {
    margin-bottom: 24px;
  }

  .inspired_Slider {
    padding: 24px;
    /* width: 100%; */
  }

  .inspired2 {
    gap: 10px;
    /* width: 100%; */
  }

  .inspired-right {
    margin-top: 20px;
    max-width: 310px;
  }

  /* footer */

  .HomeFooter_main {
    padding: 45px 20px;
  }
  .HomeFooter-right h2 {
    font-size: 40px;
    line-height: 42px;
  }
  .HomeFooter-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .HomeFooter_items {
    gap: 16px;
  }
  .HomeFooter_items a {
    font-size: 18px;
    line-height: 10.6px;
  }
  .HomeFooter_wrapper h3 {
    font-size: 22px;
    line-height: 18.6px;
  }

  .HomeFooter_copyright {
    padding: 20px 20px;
  }
  .HomeFooter_copyright h3 {
    font-size: 14px;
    line-height: 16.8px;
  }
}
