.User_signup_container {
  background: url(../../Assets/1670735162569.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
}
.User_signup_container .dona {
  font-family: "Arimo", sans-serif;
  font-size: 69px;
  font-weight: 600;
  line-height: 82.8px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.User_signup_header .User_signup_title {
  font-family: "Arimo", sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  color: var(--color-black);
}
.User_signup_title_bottom h4 {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: var(--color-black);
}

.User_signup_title_bottom .User_signup_create {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: var(--color-bg);
}
.User_signup_title_bottom .User_signup_create:hover {
  color: var(--color-primary);
  font-weight: 600;
  transition: all 600ms ease-in-out;
}
.User_signup_continue h4 {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #707070;
}

.User_signup_footer h4 {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: var(--color-black);
}
.User_signup_footer .User_signup_contactUs {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: var(--color-bg);
}
.User_signup_form_container {
  background-color: var(--color-white);
  width: 687px;
  height: 879px;
  border-radius: 16px;
  padding: 66px 58px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.User_signup_signup_header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.User_signup_title_bottom {
  display: flex;
  gap: 8px;
}
.User_signup_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.User_signup_input_field2 {
  position: relative;
  width: 571px;
  height: 54px;
  border-radius: none;
  background-color: none;
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #cccccc;
}

.User_signup_input_field2 input {
  background: none;
  outline: none;
  border: none;
  text-align: left;
  line-height: 27.6px;
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: var(--color-black);
}
.User_signup_content .btn {
  width: 571px;
  text-align: center;
}

.User_signup_continue {
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.User_signup_continue .User_signup_dash {
  border: 1.5px solid #cccccc;
  width: 168px;
}

.User_signup_footer {
  display: flex;
  gap: 8px;
}
.User_signup_social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  font-size: 34px;
  cursor: pointer;
}

.User_signup_social_icons .User_signup_google:hover {
  border: 3px solid var(--color-primary);
}
.User_signup_social_icons .User_signup_google {
  border-radius: 256px;
  border: 1px solid #707070;
  padding: 10px;
  height: 64px;
  width: 64px;
}
.User_signup_social_icons .User_signup_facebook {
  border-radius: 256px;
  border: 1px solid #707070;
  color: #207af8;
  padding: 10px;
  height: 64px;
  width: 64px;
}
.User_signup_social_icons .User_signup_facebook:hover {
  border: 3px solid var(--color-primary);
}
.User_signup_social_icons .User_signup_apple {
  border-radius: 256px;
  border: 1px solid #707070;
  color: var(--color-black);
  padding: 10px;
  height: 64px;
  width: 64px;
}
.User_signup_social_icons .User_signup_apple:hover {
  border: 3px solid var(--color-primary);
}

.User_signup_contactUs:hover {
  color: var(--color-primary);
  font-weight: 600;
  transition: all 600ms ease-in-out;
}

/*Media Query for tablet (medium devices)*/
@media screen and (max-width: 1024px) {
  .User_signup_container {
    flex-direction: column;
    gap: 20px;
  }
  .User_signup_form_container {
    width: 100%;
    height: auto;
  }
  .User_signup_input_field2 {
    width: 100%;
  }

  .User_signup_content .btn {
    width: 100%;
  }
}

/*Media Query for phone (small devices)*/
@media screen and (max-width: 768px) {
  .User_signup_container {
    object-fit: cover;
    padding: 100px 20px;
    flex-direction: column;
    gap: 20px;
  }
  .User_signup_container .dona {
    font-size: 45px;
    line-height: 62.8px;
  }
  .User_signup_header .User_signup_title {
    font-size: 35px;
    line-height: 42px;
  }
  .User_signup_title_bottom {
    align-items: center;
  }
  .User_signup_title_bottom h4 {
    font-size: 12px;
    line-height: 18.6px;
    white-space: nowrap;
  }

  .User_signup_title_bottom .User_signup_create {
    font-size: 12px;
    line-height: 18.6px;
    white-space: nowrap;
    color: var(--color-primary);
  }
  .User_signup_continue h4 {
    text-align: center;
    white-space: nowrap;
  }

  .User_signup_footer h4 {
    font-size: 14px;
    line-height: 18.6px;
  }
  .User_signup_footer .User_signup_contactUs {
    font-size: 14px;
    line-height: 18.6px;
  }
  .User_signup_form_container {
    padding: 30px 26px;
    gap: 20px;
  }
  .User_signup_signup_header {
    gap: 5px;
  }

  .User_signup_title_bottom {
    display: flex;
    gap: 8px;
  }
  .User_signup_content {
    gap: 20px;
    width: 100%;
  }
  .User_signup_input_field2 {
    height: 35px;
    display: grid;
    padding: 10px 12px;
  }

  .User_signup_input_field2 input {
    line-height: 20.6px;
    font-size: 16px;
  }
  .User_signup_content .btn {
    width: 100%;
    padding: 14px 18px;
    font-size: 20px;
  }

  .User_signup_continue {
    gap: 8px;
  }
  .User_signup_continue .User_signup_dash {
    border: 1.5px solid #cccccc;
    width: 168px;
  }

  .User_signup_footer {
    gap: 5px;
  }
  .User_signup_social_icons {
    gap: 12px;
    margin-top: 10px;
    font-size: 28px;
  }

  .User_signup_social_icons .User_signup_google {
    padding: 5px;
    height: 34px;
    width: 34px;
  }
  .User_signup_social_icons .User_signup_facebook {
    padding: 5px;
    height: 34px;
    width: 34px;
  }

  .User_signup_social_icons .User_signup_apple {
    padding: 5px;
    height: 34px;
    width: 34px;
  }
}
