.fundraiser_container {
  background-color: var(--color-white);
  color: var(--color-black);
  gap: 40px;
  margin-top: 100px;
}

.fundraiser_header-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  place-items: center;
  align-items: center;
  padding: 65px 112px;
}
.fundraiser_header-section h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 66px;
}
.fundraiser_header-paragraph {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  color: #707070;
  max-width: 584px;
}

.fundraiser_input_field {
  position: relative;
  min-width: 584px;
  width: 100%;
  height: 76px;
  border-radius: 160px;
  background-color: var(--color-light);
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 24px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fundraiser_input_icon {
  height: 20px;
  width: 20px;
  font-size: 23px;
  font-weight: 900;
}
.fundraiser_input_field input {
  background: none;
  outline: none;
  border: none;
  text-align: left;
  line-height: 27.6px;
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: var(--color-black);
}
.fundraiser_input_field input::placeholder {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  display: flex;
  color: var(--color-black);
}
.fundraiser_search_bar {
  margin-bottom: 20px;
}
.fundraiser_filter-section {
  padding: 0 112px;
  padding-bottom: 65px;
}
.fundraiser_filter-section-top .filter_option {
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  background-color: var(--color-black);
  border-radius: 120px;
  color: var(--color-white);
  max-width: 156px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fundraiser_filter-section-top .filter_option:hover {
  background-color: var(--color-light);
  color: var(--color-bg);
}
.filter_option small {
  font-family: "Arimo", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  display: flex;
}

.filter_icon {
  font-size: 26px;
}

.filter_item-list img {
  width: 276px;
  height: 208px;
  border-radius: 16px;
}
.filter_item-list small {
  padding: 4px 8px;
  border-radius: 56px;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.filter_item-list.non-profit small {
  background-color: var(--non-profit-color);
}
.filter_item-list.agency small {
  background-color: var(--agency-color);
}
.filter_item-list.organization small {
  background-color: var(--organization-color);
}
.filter_item-list h3 {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  margin-top: 10px;
}

.fundraiser_filter-section-left img {
  width: 584px;
  height: 438px;
  border-radius: 16px;
}
.fundraiser_filter-section-left small {
  font-weight: 700;
}
.fundraiser_filter-section-left h3 {
  font-family: "Arimo", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.8px;
  width: 584px;
  margin-top: 10px;
}

.fundraiser_filter-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fundraiser_filter-section-down {
  display: flex;
  gap: 30px;
}
.filter_item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.hidden {
  display: none;
}

.fundraiser_partner-section {
  padding: 120px 112px;
  background-color: #fbeee6;
  display: flex;
  gap: 30px;
}

.fundraiser_partner-section-left img {
  width: 684px;
  height: 671px;
  border-radius: 24px;
}
.fundraiser_partner-section-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.fundraiser_partner-section-right h2 {
  font-family: "Arimo", sans-serif;
  font-size: 69px;
  font-weight: 600;
  line-height: 82.8px;
}

.fundraiser_partner-section-right p {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}
.fundraiser_partner-section-right .btn {
  background-color: unset;
}

.fundraiser_contact-section {
  padding: 120px 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.fundraiser_contact-section h2 {
  font-family: "Arimo", sans-serif;
  font-size: 69px;
  font-weight: 600;
  line-height: 82.8px;
}

.fundraiser_contact-section p {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  max-width: 584px;
  text-align: center;
}
.Main_main-filter_menu {
  display: flex;
  gap: 20px;
}

.main_category-filter {
  display: flex;
  gap: 5px;
  padding: 8px 24px;
  background-color: var(--color-bg);
  border-radius: 120px;
  color: var(--color-white);
  max-width: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main_category-filter:hover {
  background-color: var(--color-hover);
  color: var(--color-white);
}
.main_category-filter small {
  font-family: "Arimo", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  display: flex;
}
.filter_icon-up {
  font-size: 34px;
}
.filter_icon-down {
  font-size: 34px;
}

.category-filter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}
.category-filter h3 {
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  color: #707070;
}

.category-filter-items {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
.category-filter-items li {
  padding: 8px 24px;
  background-color: none;
  border: 2px solid black;
  border-radius: 120px;
  color: var(--color-black);
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.category-filter-items .active {
  border: 2px solid #029f80;
  border-radius: 120px;
  color: var(--color-primary);
}
.filter-number {
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
