.PaymentOrganizations {
  background: url(../../Assets/1670487957332.jpg);
  /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
  object-fit: cover;
  /* padding: 80px 100px; */
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  /* height: 100%; */
}
.PaymentOrganizations-left {
  padding: 120px 50px 120px 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .PaymentOrganizations-left-wrapper {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 150px;
    z-index: 1;
  } */

.PaymentOrganizations-left h5 {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #a9a9a9;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 120px;
  z-index: 1;
}
.PaymentOrganizations-left h2 {
  font-family: "Arimo", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  color: var(--color-white);
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 152px;
  z-index: 1;
}
.PaymentOrganizations-right {
  background-color: var(--color-light);
  padding: 170px 100px 40px 100px;
}
.PaymentOrganizations_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.PaymentOrganizations-set-Goals {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.PaymentOrganizations-set-Goals h3 {
  font-family: "Arimo", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  color: var(--color-black);
}

.PaymentOrganizations-amount_field {
  border: 2px solid #cccccc;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  display: flex;
}
.PaymentOrganizations-amount_field:hover {
  border-color: black; /* Change the border color to black on focus */
}
.PaymentOrganizations-amount_field small {
  font-family: "Arimo", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.8px;
  color: var(--color-black);
}

.PaymentOrganizations-amount_field .PaymentOrganizations-amount-input {
  width: 90%;
  background: none;
  outline: none;
  border: none;
  font-family: "Arimo", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.8px;
  color: var(--color-black);
  text-align: right;
}
.PaymentOrganizations-set-Goals p {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: var(--color-black);
}
.PaymentOrganizations-select-Payment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.PaymentOrganizations-select-Payment h3 {
  font-family: "Arimo", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  color: var(--color-black);
}

.PaymentOrganizations-payment_radio {
  border: 2px solid #cccccc;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.PaymentOrganizations-custom-radio {
  font-family: "Arimo", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  position: relative;
  padding-left: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #707070;
  color: var(--color-black);
  cursor: pointer;
}
.PaymentOrganizations-custom-radio:last-child {
  border-bottom: unset;
  padding-bottom: unset;
}

.PaymentOrganizations-custom-radio input[type="radio"] {
  display: none;
}
.PaymentOrganizations-custom-radio span {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 3px solid #767676;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.PaymentOrganizations-custom-radio input[type="radio"]:checked ~ span {
  border: 3px solid var(--color-bg);
}

.PaymentOrganizations-custom-radio span:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: -15%;
  background: var(--color-primary);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 12rem;
  transition: 300ms ease-in-out 0s;
}
.PaymentOrganizations-custom-radio input[type="radio"]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
  background: var(--color-primary);
}

.PaymentOrganizations-input-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8px;
}
.debitcards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.mobilemoney {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.applepay {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.PaymentOrganizations-input-field {
  border: 2px solid #cccccc;
  border-radius: 16px;
  padding: 14px 20px;
  position: relative;
}
.PaymentOrganizations-input-field input {
  width: 90%;
  background: none;
  outline: none;
  border: none;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.6px;
  color: #707070;
  text-align: left;
}
.debitcards .Card {
  flex: inherit;
  width: 70%;
}
.debitcards .MM {
  flex: inherit;
  width: 15%;
  padding: 14px 12px;
  justify-content: center;
  align-items: center;
}
.debitcards .CVV {
  flex: 1;
  width: 15%;
  padding: 14px 12px;
  justify-content: center;
  align-items: center;
}

.debitcards .Cardholder {
  flex-direction: column;
  width: 100%;
}

.PaymentOrganizations-payment-logo {
  display: flex;
  gap: 8px;
}
.PaymentOrganizations-payment-logo img {
  /* aspect-ratio: 1/1; */
  object-fit: contain;
  width: 50px;
  height: 20x;
}
.PaymentOrganizations-radio-label-container {
  display: flex;
  justify-content: space-between;
}

.PaymentOrganizations-payment-logo .voda {
  width: 40px;
}
.PaymentOrganizations-payment-logo.applepay {
  width: 70px;
}
.PaymentOrganizations-button {
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: justify;
  gap: 20px;
  margin-top: 60px;
}

.PaymentOrganizations-button p {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #707070;
}
.PaymentOrganizations-button span {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: var(--color-black);
  text-decoration: underline;
  cursor: pointer;
}

.PaymentOrganizations-button p span:hover {
  color: var(--color-bg);
}
.PaymentOrganizations-button .btn {
  padding: 16px 24px;
  font-size: 23px;
  display: flex;
  justify-content: end;
}

/*Media Query for tablet (medium devices)*/
@media screen and (max-width: 1024px) {
  .PaymentOrganizations-left {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .PaymentOrganizations-right {
    padding: 100px 40px;
  }
}

/*Media Query for phone (small devices)*/
@media screen and (max-width: 768px) {
  .PaymentOrganizations {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    /* padding: 70px 20px; */
    display: flex;
    flex-direction: column;
  }
  .PaymentOrganizations-left {
    padding: 70px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  .PaymentOrganizations-left h5 {
    line-height: 21.6px;
    top: 75px;
  }
  .PaymentOrganizations-left h2 {
    font-size: 23px;
    line-height: 27.6px;
  }
  .PaymentOrganizations-right {
    border-radius: 16px;
    padding: 40px 20px;
  }
  .PaymentOrganizations_form {
    gap: 20px;
  }
  .PaymentOrganizations-set-Goals {
    gap: 8px;
  }
  .PaymentOrganizations-set-Goals h3 {
    font-size: 23px;
    line-height: 27.6px;
  }

  .PaymentOrganizations-amount_field {
    padding: 19px 24px;
  }
  .PaymentOrganizations-amount_field small {
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 700;
  }

  .PaymentOrganizations-amount_field .PaymentOrganizations-amount-input {
    width: 90%;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
  }
  .PaymentOrganizations-set-Goals p {
    font-size: 14px;
    line-height: 16.8px;
  }
  .PaymentOrganizations-select-Payment {
    gap: 8px;
  }
  .PaymentOrganizations-select-Payment h3 {
    font-size: 22px;
    line-height: 27.6px;
  }

  .PaymentOrganizations-payment_radio {
    padding: 18px;
    gap: 16px;
  }

  .PaymentOrganizations-custom-radio {
    font-size: 18px;
    line-height: 21.6px;
    padding-left: 30px;
    padding-bottom: 8px;
    justify-content: center;
  }

  .PaymentOrganizations-custom-radio span {
    height: 24px;
    width: 24px;
  }

  .PaymentOrganizations-custom-radio span:after {
    width: 11.5px;
    height: 11.5px;
  }

  .PaymentOrganizations-input-fields {
    gap: 10px;
    margin-top: 8px;
  }
  .debitcards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .mobilemoney {
    gap: 8px;
  }
  .applepay {
    gap: 8px;
  }
  .PaymentOrganizations-input-field {
    padding: 10px 12px;
  }

  .debitcards .Card {
    flex: inherit;
    width: 100%;
  }
  .debitcards .MM {
    flex: inherit;
    width: 50%;
    padding: 10px 12px;
  }
  .debitcards .CVV {
    flex: 1;
    width: 50%;
    padding: 10px 12px;
  }

  .debitcards .Cardholder {
    flex-direction: column;
    width: 100%;
  }

  .PaymentOrganizations-payment-logo {
    display: flex;
    gap: 8px;
  }
  .PaymentOrganizations-payment-logo img {
    width: 40px;
  }

  .PaymentOrganizations-payment-logo .voda {
    width: 30px;
  }
  .PaymentOrganizations-payment-logo.applepay {
    width: 55px;
  }
  .PaymentOrganizations-button .btn {
    padding: 12px 20px;
    font-size: 20px;
    margin-top: 40px;
  }
  .PaymentOrganizations-button {
    margin-top: 100px;
  }

  .PaymentOrganizations-button p {
    font-size: 14px;
    line-height: 14.4px;
  }
  .PaymentOrganizations-button span {
    font-size: 12px;
    line-height: 14.4px;
  }
}
